<div class="page-header">
  <h3>
    {{post.title}}
  </h3>
  <p>
    {{post.body}}
  </p>
  <div ng-show="isMyPosts(post)">
    <button ng-click="updatePost(post)" class="btn btn-warning">Update</button>
    <button ng-click="deletePost(post)" class="btn btn-danger">Delete</button>
  </div>
</div>

<div ng-repeat="comment in post.comments">  
  <h4>
    {{comment.user.email}}
  </h4>
  <p style="font-size:20px; margin-left:10px;">
    {{comment.body}}
  </p>
</div>
<form ng-submit="addComment()"
  style="margin-top:30px;">
  <h3>Add a new comment</h3>

  <div class="form-group">
    <textarea
    class="form-control"
    placeholder="Comment"
    ng-model="body"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>
